.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

#peliculaDetalle {
    color: white;
  }

  /* Cambiar el color del texto del botón y el desplegable */
  #detalleBoton button,
  #detalleDesplegable {
    color: white;
  }
  .dropdown-menu {
    position: absolute !important;
}
.offcanvas-body {
    overflow-y: visible !important;
}
